@use '../abstract' as a;

:root {
  @include a.map-to-root(clr, a.$colors);
}

body {
  display: grid;
  background-color: var(--clr-background);
  background-image: url('../images/bg-pattern-top.svg'), url('../images/bg-pattern-bottom.svg');
  background-position: top -30rem left -45rem, bottom -30rem right -45rem;
  background-repeat: no-repeat;

  @include a.breakpoint(medium) {
    background-position: top -30rem left -30rem, bottom -30rem right -30rem;
  }

  @include a.breakpoint(large) {
    background-position: top -20rem left -15rem, bottom -20rem right -15rem;
  }

  & > * {
    place-self: center;
  }
}